footer {
  background-color: #1b1b1c;
  font-size: 15px;
  text-align: center;
  padding-top: 25px;
  margin-top: 25px;
  padding-bottom: 10px;
}

.copyright {
  font-size: 15px;
  text-align: center;
}

picture {
  display: grid;
  grid-template-columns: repeat(4, 50px);
  grid-template-rows: 1fr;
  justify-content: center;
}

.sociales {
  height: 32px;
  margin: 10px;
}