@mixin boxmodel($padding, $margin) {
  padding-right: $padding;
  padding-left: $padding;
  margin-left: $margin;
}

.socialmedia {
  @extend .abc;

  .btn--twitter {
    padding-right: 5px;
    padding-left: 5px;
    margin: 0px 0px 5px 20px;
  }

  .btn--instagram {
    @include boxmodel (5px, 5px)
  }

  .btn--facebook {
    @include boxmodel (5px, 5px)
  }

  .btn--spotify {
    @include boxmodel (5px, 5px)
  }
}

label {
  color: whitesmoke;
  font-size: 21px;
  margin-top: 10px;
  margin-left: 20px;
}

div {
  color: whitesmoke;
  font-size: 21px;
}

.ifyou {
  color: whitesmoke;
  text-align: justify;
}

input {
  background-color: darkorchid;
  border-color: darkorchid;
}

textarea {
  color: white;
  background-color: darkorchid;
  border-color: darkorchid;
  font-family: 'Ubuntu', sans-serif;
  width: 494px;
  height: 160px;
  margin-top: 15px;
  margin-left: 20px;
}

::placeholder {
  color: white;
  font-family: 'Ubuntu', sans-serif;
}

.final {
  color: white;
  padding: 2px;
  margin-top: 8px;
  margin-left: 20px;
  font-family: 'Ubuntu', sans-serif;
  width: 237px;
  transition-property: all;
  transition-duration: 200ms;
}

.submit {
  margin-left: 20px;
}