@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

p {
  color: whitesmoke;
  font-size: 21px;
  margin: 20px;
  text-align: justify;
}

strong {
  color: rgb(191, 68, 253);
  text-transform: uppercase;
}

span {
  color: rgb(191, 68, 253);
}

.pioneers {
  color: whitesmoke;
  text-align: justify;
}

.abc {
  font-size: 21px;
  color: whitesmoke;
  text-align: justify;
  padding-left: 10px;
}

a {
  color: rgb(191, 68, 253) !important;
  text-decoration: none;
}