h1 {
  color: rgb(191, 68, 253);
  font-size: 40px;
  background-color: #1d1d1d;
  border-color: #232324;
  padding-left: 20px;
  margin-top: 10px;

  .pPrincipal {
    color: whitesmoke;
    margin: 20px;
    font-size: 21px;
    text-align: justify;
  }
}

h2 {
  color: whitesmoke;
  font-size: 40px;
  text-transform: uppercase;
  padding-left: 25px;
}

h3 {
  color: rgb(191, 68, 253);
  font-size: 40px;
  background-color: #1d1d1d;
  border-color: #232324;
  padding-left: 20px;
  margin-top: 10px;
}

.djsong {
  color: rgb(191, 68, 253);
  font-size: 30px;
  background-color: #1d1d1d;
  padding-left: 20px;
  margin-top: 20px;
}